body{
  background: #5c4c39;
  margin-top: 3%;
}

.list{
  padding: 5px;
  color: white;
}

.list:hover{
  background: #2b231b;
  opacity: 0.75;
}
li {
    list-style: none;
}

.list #play{
 display: none;
}
.list:hover #play{
 display: block;
}

.id, .titulo, .duracion{
 float: left; 
 margin: 20px;
}

.duracion{
  text-align: right;
  position: absolute;
  right: 10px;
}