.playlist{
  color: $neutro;
}
.playlist__fondo{
  background-image: linear-gradient($gradient1, $gradient2 $opacity);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: fixed;
  will-change: transform;
}
.playlist__body{
  margin-top: 20px;
}

.playlist__iframe{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border: none;
}