.fondo{
    background-image: linear-gradient($gradient1, $gradient2 $opacity);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    position: fixed;
    will-change: transform;
  }
  
  .list{
    color: $neutro;
    width: 100%;
    display: flex;
  }
  .list:hover{
    background: $dark;
    opacity: 0.75;
  }
  
  .play{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .green{
    color: $ligth;
  }
  .list .play{
   display: none;
  }
  .list:hover .play{
   display: block;
  }
  .list:hover .number{
    display: none;
   }
  .id, .titulo, .duracion{ 
   margin: 15px;
  }
  
  .duracion{
    text-align: right;
    position: absolute;
    right: 10px;
  }